.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form{
background-color: blanchedalmond;
padding: 1rem;
margin-top: 1rem;
}

.form input{

}

.form button{

}


.list{
  list-style: none;
}

.list li{
  padding: 1rem;
  min-width: 250px;
  border: 1px solid blanchedalmond;
  display: flex;
  justify-content: space-between;
}

.done li{
  opacity: .6;
  text-decoration: line-through;
}